# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
print (df.dtypes)

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [4]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
print (df.dtypes)

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [5]:
# Set the date column as the DataFrame index
df=df.set_index(df['date'])
df.head()

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01  0.08    65
2010-01-02  USC00519397 2010-01-02  0.00    63
2010-01-03  USC00519397 2010-01-03  0.00    74
2010-01-04  USC00519397 2010-01-04  0.00    76
2010-01-06  USC00519397 2010-01-06   NaN    73

In [6]:
# Drop the date column
df=df.drop(columns='date')
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [27]:
from scipy import stats

In [28]:
# Filter data for desired months
jun_data=df[df.index.month==6]
dec_data=df[df.index.month==12]

In [29]:
# Identify the average temperature for June
jun_data.mean()

prcp     0.136360
tobs    74.944118
dtype: float64

In [30]:
# Identify the average temperature for December
dec_data.mean()

prcp     0.216819
tobs    71.041529
dtype: float64

In [40]:
#cehck Jun data set souced from what stations
jun_data["station"].unique()

array(['USC00519397', 'USC00513117', 'USC00514830', 'USC00517948',
       'USC00518838', 'USC00519523', 'USC00519281', 'USC00511918',
       'USC00516128'], dtype=object)

In [41]:
#cehck Dec data set souced from what stations
dec_data["station"].unique()

array(['USC00519397', 'USC00513117', 'USC00514830', 'USC00517948',
       'USC00518838', 'USC00519523', 'USC00519281', 'USC00511918',
       'USC00516128'], dtype=object)

In [44]:
#how many data for June dataset
jun_data["tobs"].count()

1700

In [45]:
#how many data for June dataset
dec_data["tobs"].count()

1517

In [34]:
# Create collections of temperature data by dropping any na value
jun_data=jun_data.dropna(subset=["tobs"])
dec_data=jun_data.dropna(subset=["tobs"])

In [38]:
# Run un-paired t-test
stats.ttest_ind(jun_data.tobs,dec_data.tobs,equal_var=False)

Ttest_indResult(statistic=31.355036920962423, pvalue=4.193529835915755e-187)

### Analysis

In this analysis, the un-paried t-test is used. The reason being although the dataset is about Hawaii whether condition. The size of the dataset between June and Dec are quite different, and there are 7 stations providing the wether data,so the daily data number could be based on different stations.


The Null hypothesis is: the time of a year (in this analysis, Jun and Dec) has no strong colleration towards the temperature in Hawaii. 

According to the T-test, the pvalue is much smaller than 0.05, hence it rejectes the null hypothesis mentioned about, the conclusion is the time of the year has strong relations towards the local temperature.